.leaderboard {
  display: flex;
  justify-content: center;
  color: #1b2021;
  margin: 100px 50px 0px 50px;
  border: 1px solid #e3dc95;
  padding: 50px;
  border-radius: 24px;
  background-color: #e3dc95;
}

.leaderboardTitle {
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
  color: white;
}

.leaderboard > table {
  border: 3px solid #1b2021;
  padding: 20px;
  border-radius: 24px;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 3px solid #1b2021;
  height: 50px;
  font-size: 30px;
}

tr {
  border: 1px solid #1b2021;
}

td {
  border: 1px solid #1b2021;
  padding: 10px;
  text-align: center;
}
