.gameContainer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 20px 20px 20px 0px;
}

.gameImageContainer {
  height: 80vh;
  overflow: hidden;
  min-width: 100%;
  background-color: black;
}

.gameImageContainer>img {
  transform: translate(0px, 0px) scale(0.2);
}


.controlExplainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}