body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;
  font-weight: normal;
  background-color: #1b2021;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
